table{
  border-collapse: collapse;
  widows: 100%;
  border: 1px solid black;
}

th,td{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: aqua;
}

tr,yd:hover{
  background-color: red;
}
